<nav class="custom-navbar">
    <div class="nav-container">
        <a href="/" class="logo-btn">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Логотип" class="logo-img">
        </a>
        <div class="nav-links">
            <a href="/" class="nav-link">Главная</a>
            <a href="/remastered" class="nav-link">Remastered</a>
            <a href="/second" class="nav-link">Second</a>
            <a href="/legacy" class="nav-link">Legacy</a>
            <a href="/forum" class="nav-link">Forum</a>
        </div>
        <button class="download-btn">
            <i class="bi bi-download"></i> Скачать
        </button>
    </div>
</nav>