{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/remastered.css') }}">
{% endblock %}

{% block content %}
    <div class="background-blur remastered-bg"></div>
    
    <div class="content-container">
        <div class="screenshots-container">
            <div class="screenshot-placeholder">
                <img src="{{ url_for('static', filename='img/screenshots/remastered/1.jpg') }}" alt="Remastered скриншот 1">
            </div>
            <div class="screenshot-placeholder">
                <img src="{{ url_for('static', filename='img/screenshots/remastered/2.jpg') }}" alt="Remastered скриншот 2">
            </div>
            <div class="screenshot-placeholder">
                <img src="{{ url_for('static', filename='img/screenshots/remastered/3.jpg') }}" alt="Remastered скриншот 3">
            </div>
        </div>
        
        <div class="text-content">
            <h2>Remastered Edition</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula.</p>
            <p>Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor.</p>
        </div>
    </div>
{% endblock %}